.modal-backdrop {
    background-color: rgba(255, 255, 255, .15) !important;
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

    /*table titles*/
    .bootstrap-table .table{
        font-size: 20px;
        color: green;
        min-height: 100%;
        height: auto !important;
        height: 100%;
    }

    /*table body*/
    .bootstrap-table tbody{
        font-size: 18px;
    }

    .bootstrap-table tbody:hover{
        cursor:pointer;
    }


    .bootstrap-table tbody tr:hover{
        color: black;
        
    }

    /*size of both add & Edit modal*/
    .row{
        width: 100%;
    }


    .add-btn {
        border-radius: 0;
        width: 100%;
    }

    #new-user-link {
        color: white;
        background: blue;
        /*...*/
    }

    #new-user-link:hover {
        cursor: pointer;
    }

    #change-password-link:hover {
        cursor: pointer;
    }

    .password-error {
        padding: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #E8534E;
    }

    #change-alert-success {
        color: #FFFFFF;
        background-color: #51B528;
        border-color: #56A514;
        font-size: 17px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .input-group-addon {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #56A514;
    }

    .form-errors {
        margin-bottom: 5px;
        padding: 6px;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

    /*table titles*/
    .bootstrap-table .table{
        font-size: 18px;
        color: green;
        min-height: 100%;
        height: auto !important;
        height: 100%;
    }

    /*table body*/
    .bootstrap-table tbody{
        font-size: 15px;
    }

    .bootstrap-table tbody:hover{
        cursor:pointer;
    }

    .bootstrap-table tbody tr:hover{
        color: black;
        
    }

    /*size of both add & Edit modal*/
    .row{
        width: 100%;
    }

    .add-btn {
        border-radius: 0;
        width: 100%;
    }

    #change-password-link:hover {
        cursor: pointer;
    }

    .password-error {
        padding: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #E8534E;
    }

    #change-alert-success {
        color: #FFFFFF;
        background-color: #51B528;
        border-color: #56A514;
        font-size: 17px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .input-group-addon {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #56A514;
    }

    .form-errors {
        margin-bottom: 5px;
        padding: 6px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 700px) and (max-width: 991px){

    /*table titles*/
    .bootstrap-table .table{
        font-size: 12px;
        color: green;
        min-height: 100%;
        height: auto !important;
        height: 100%;
    }

    /*table body*/
    .bootstrap-table tbody{
        font-size: 12px;
    }

    .bootstrap-table tbody:hover{
        cursor:pointer;
    }

    .bootstrap-table tbody tr:hover{
        color: black;
        
    }

    /*size of both add & Edit modal*/
    .row{
        width: 100%;
    }

    .add-btn {
        border-radius: 0;
        width: 100%;
    }

    #change-password-link:hover {
        cursor: pointer;
    }

    .password-error {
        padding: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #E8534E;
    }

    #change-alert-success {
        color: #FFFFFF;
        background-color: #51B528;
        border-color: #56A514;
        font-size: 17px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .input-group-addon {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #56A514;
    }

    .form-errors {
        margin-bottom: 5px;
        padding: 6px;
    }
}

/* Extra small devices (phones, up to 699px) */
@media screen and (max-width: 699px) {

    /*table titles*/
    .bootstrap-table .table{
        font-size: 12px;
        color: green;
        min-height: 100%;
        height: auto !important;
        height: 100%;
    }

    /*table body*/
    .bootstrap-table tbody{
        font-size: 11px;
    }

    .bootstrap-table tbody:hover{
        cursor:pointer;
    }

    .bootstrap-table tbody tr:hover{
        color: black;
        
    }

    /*size of both add & Edit modal*/
    .row{
        width: 100%;
    }

    .add-btn {
        border-radius: 0;
        width: 100%;
    }

    #change-password-link:hover {
        cursor: pointer;
    }

    .password-error {
        padding: 5px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #E8534E;
    }

    #change-alert-success {
        color: #FFFFFF;
        background-color: #51B528;
        border-color: #56A514;
        font-size: 17px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .input-group-addon {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #56A514;
    }

    .form-errors {
        margin-bottom: 5px;
        padding: 6px;
    }

	#newMeetup {
		width: 50px;
	}
}


