#education {
    display: flex;
    align-items: center;
}

#education * {
    color: black;
    margin-bottom: 0;
}

#education:hover {
    background: green;
}

#education:hover * {
    color: white;
    text-decoration-line: none;
}

.navbar-right .nav-item {
    padding-top: 0;
    padding-bottom: 0;
    height: 56px;
}

/*Used by mark.js for the searchbar*/
.mark, mark {
    background: yellow;
}

.navbar {
    background-color: rgb(44, 136, 43);
}

/* Keep editable title inline with logo no matter the styling applied */
.navbar-brand :not(img) {
    display: flex;
    margin-bottom: 0;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}


/* large desktops and up ----------- */
@media screen and (min-width: 992px) {

    .navbar {
        padding: 0;
        height: 3.5em;
        padding-left: 10px;
    }


    /* Navbar menu buttons */
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 18px;
        color: white;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: greenyellow;
    }


    #education{
        font-size:16px;
        text-align: center;
        color: green;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration:none;
        transition: 0.5s;
    }


    /*admin login button hidden*/
    .nav-item h3{
        visibility: hidden;
    }


}


/* tablets & Small devices*/
@media (min-width: 380px) and (max-width: 991px) {

    /* Navbar menu buttons */
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 15px;
        color: white;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: greenyellow;
    }

    .nav-item {
        font-size: 15px;
        padding: 5px;
        text-align:left;
    }


    #education {
        font-size:14px;
        text-align: left;
        color: green;
        background: white;
        text-decoration:none;
        transition: 0.5s;
    }


    /*admin login button*/
    .nav-item h3{
        padding-top: 10px;
    }
}

/*Extra small devices*/

@media screen and (max-width: 379px) {

    /* Navbar menu buttons */
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 15px;
        padding: 18px;
        transition: 1s;
        color: white;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: greenyellow;
    }

    .nav-item {
        font-size: 13px;
        padding: 5px;
        text-align:left;
    }


    #education{
        font-size:11px;
        text-align: center;
        color: green;
        background: white;
        padding: 5px;
        text-decoration:none;
        transition: 0.5s;
    }


    /*admin login button*/
    .nav-item h3{
        padding-top: 10px;
    }
}