#eventsTable {
	background-color: white;
}

.events-table{
	color: green;
	font-size: 20px;
	min-height: 100%;
	height: auto !important;
	padding: 2em 1em;
}

.events-table h1{
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	color: green;
	letter-spacing: 15px;
	padding-left: 20px;
	margin-top: 0;
}

#meetup-groups-list .list-group-item:last-child {
	margin-bottom: 5px;
}

#meetup-groups-list .list-group-item {
	margin: 5px;
	padding: 0;
	border-radius: .25rem;
	border-width: 1px;
}

#meetup-groups-list .list-group-item:hover {
	cursor: pointer;
	-webkit-filter:brightness(95%);
	-moz-filter:brightness(95%);

	filter:brightness(95%);
	transition: filter .27s;
	transition-timing-function: linear;
}

.list-group-horizontal {
	-ms-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -5px;
}

.meetup-group-link {
	display: block;
	padding: 12px 20px;
}

.meetup-group-link:hover {
	text-decoration-line: none;
}

#meetup-groups-title {
	margin-bottom: 7px;
	margin-top: 25px;
}

.no-decoration {
	color: rgb(33, 37, 41);
	text-decoration-color: initial;
	text-decoration: none;
}
